/*************************************************************************
Slide menu
*************************************************************************/


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
.norightpad{
	padding-right: 0;
}



/*************************************************************************
Header
*************************************************************************/

.header-nav{
	padding:115px 0 0 0;
	display: none;
}

.header-nav ul{
	list-style: none;
}

.header-nav li{
	list-style: none;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: bold;
	float:left;
	color:#282424;
}

.logo-text{
	font-family: 'Lato', sans-serif;
	font-size: 10px;
    font-weight: 300;
	color:#282424;
	text-align: center;
	display: none;
	margin-top: -14px;
}

.logo{
	margin:0 auto;
	padding-left: 10px;
}

.logo img{

    width:100%;
    max-width: 620px;
}

.header-phone{

	padding:25% 0 0 0;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
	float:right;
	color:#282424;
	display: none;
}

.header-phone a{
    text-decoration: none;
    color: inherit;
}


#search-large{
	padding:115px 0 0 0;
	display: none;
    width: 23px;
}
.searchback{
	position: fixed;
	top: 0;
	z-index: 99999;
	background: rgba(0,0,0,0.80);
	width:100%;
	height:100%;
	display: none;
}
.searchformholder{
	position: fixed;
	top:45%;
	left:0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	display: none;
	z-index: 999999;
	width: 100%;
	max-width: 700px;
}
.searchformholder input.search-field::-webkit-input-placeholder {
   color: #fff;
}
.searchformholder input.search-field:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}
.searchformholder input.search-field::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}
.searchformholder input.search-field:-ms-input-placeholder {  
   color: #fff; 
}
.searchformholder input.search-field {
    height: 70px;
    font-size: 55px;
    display: inline-block;
    font-weight: 300;
    border: none;
    outline: none;
    color: #fff;
    background: none;
    cursor: pointer;
    border-bottom: 1px solid #fff;
    width: 83%;
    cursor: text;
}
.searchformholder input{
    padding:20px;
}
.searchformholder .search-form input[type="submit"] {
    height: 67px;
    width: 63px;
    display: inline-block;
    color:red;
    float: right;
    background: url(../assets/images/search.png) center center no-repeat;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.4;
    cursor: pointer;
    transition: opacity .4s ease;
}
#search-close{
     font-size: 32px;
     z-index: 3;
     position: relative;
     float: right;
     top: -55px;
     right: 20px;
     color: black;
}
#search-close:hover{
    opacity: 0.5;
    cursor: pointer;
}
.searchformholder .search-form input[type="submit"]:hover {
    opacity: 0.8;
}
.input-group .form-control:first-child{
	border-bottom-right-radius:6px;
	border-top-right-radius:6px;
}

.checkbox-inline{
    padding: 0 90px !important;
}

.help-block{
    margin-bottom: 8px;
}

.error label{
    border: 1px solid #ebccd1 !important;
}

.checkbox-inline label, .checkbox label{
    border: none;
    border-bottom: 1px solid #c1c1c1;
    box-shadow: none;
    border-radius: 0;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    height: auto;
    padding-bottom: 20px;
    padding-left: 0px;
    width:100%;
}

.checkbox-inline input{
    width: 30px;
    height: 30px;
    float: right;
    position: relative !important;
}
.header{
    background-color: white;
	/*margin: 0 0 15px;*/
}

.form-wrapper{
    background-color: white;
    overflow: hidden;
    padding: 70px 0;
}

.back-to-dash-header{
    color:black;
    margin-top: 12px;
    margin-left: -12px;
    display: block;
}

.back-to-dash-header:hover{
    text-decoration: none;
    color:black;
}
    .slide-out-menu img{
        position: absolute;
        width: 30px;
        right: 0;
        margin-top: 80%;
    }

/*************************************************************************
Footer
*************************************************************************/
#footer h1{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 36px;
    padding-bottom: 15px;
}

#footer h3{
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	margin-top: 0;
	margin-bottom: 20px;
}
.footernews p{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}
.footernews span{
	text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.news-item-2{
	padding: 90px 0;
}
.contactdetails img{
    float: left;
    margin-top: 3px;
}
.social-icon{
    clear: both;
    padding: 20px 0 40px;
}
.instaicon{
	margin-left: 40px;
    margin-top: -32px;
}
.twittericon{
    margin-left: 78px;
    margin-top: -34px;
    width: 35px;
}

.news-item-1{
    margin-bottom: 80px;
}

.contactdetails p{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    width: 80%;
    margin-bottom: 30px;
}
.phonenumber{
    float:right;
    margin-right: 60px;
}

.phonenumber span{
    padding: 0px 20px;
}

.phonenumber a{
    text-decoration: none;
    color:black;
}

.websiteni img{
    float: left;
    padding-right: 12px;
    padding-top: 3px;
}

.websiteni p{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.websiteni a:hover{
    text-decoration: none;
}

.pages-padding{
    padding:20px;
}

.pages-padding p{
    padding: 0 50px;
}

.faq-question{
    margin: 0;
}

.terms{
    font: 14px normal, 'Lato';
}

.terms a{
    color: black;
    padding-right: 20px;
}

/*************************************************************************
Front Page
*************************************************************************/
.lord-container{
	padding:0 !important;
    background: url(/assets/images/lords.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tenant-container{
	padding:0 !important;
    background: url(/assets/images/tenants.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.landlordsimg{
	display: none;
}
.tenantsimg{
	display: none;
}
.lord-box{
	padding:0 !important;
	background-color: #2c3f83;
	max-height: 250px;
    min-height: 215px;
    color: #fff;
}
.tenant-box{
	padding:0 !important;
	background-color: #5c2802;
	max-height: 250px;
    min-height: 215px;
    color: #fff;
}
.logo-small{
	width:47px;
	margin: 0 auto;
	padding: 30px 0;
}

.strapline-header{
	padding: 0 0 40px 0;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
	font-weight: 300;
	color:#282424;
	text-align: center;
	line-height:1;
}

.strapline-text{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color:#282424;
	text-align: center;
    padding: 0 50px 60px;
    line-height: 2;
}
.homebtn{
	border-color: #fff;
    color: #fff;
    width: 116px;
    height: 50px;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.lord-login, .tenant-login{
	background-color: #fff;
	color: transparent;
    font-weight: bold;
    font-size: 22px;
    margin-right: 10px;
}
.lord-login{
	color: #2c3f83;
}
.lord-login:hover{
    color: white;
    background-color:#2c3f83;
    border: 3px solid white;
}
.tenant-login{
	color: #5c2802;
}
.tenant-login:hover{
    color: white;
    background-color:#5c2802;
    border: 3px solid white;
}
.lord-signup{
    font-weight: normal;
    font-size: 22px;
    border: 3px solid white;
}

.lord-signup:hover{
    color: #2c3f83;
    background-color:white;
}
.tenant-signup{
    font-weight: normal;
    font-size: 22px;
    border: 3px solid white;
}
.tenant-signup:hover{
    color: #5c2802;
    background-color:white;
}
.box-text1{
	font-family: 'Lato', sans-serif;
    font-size: 26px;
	font-weight: 300;
}
.box-text2{
	font-family: 'Lato', sans-serif;
    font-size: 40px;
	font-weight: 300;
}
.box-text3{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: normal;
}
.lord-buttons, .tenant-buttons{
	padding:35px 0;
}
.signupboxes{
	padding-top: 30px;
}

/*************************************************************************
Why Choose
*************************************************************************/

.top-footer-section{
	background-image: url("/assets/images/footer-image.png");
	background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 75px;
}

.footer-top-text{
	font-family: 'Lato', sans-serif;
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	color:white;
	padding:100px 0;
}

.footer-icon-header{
	font-family: 'Lato', sans-serif;
	font-size: 22px;
	color:white;
}

.footer-icon-text{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color:white;
}

.footer-icons{
	float:left;
	padding-right:36px;
	padding-bottom:30px;
	padding-top:20px;
}

.footer-icons-landing{
	padding-bottom: 0px; 
    padding-top: 0px;
}

.footer-underline{
	/*padding-top: 4px;*/
	/*clear: left;*/
	/*padding-left: 85px;*/
}

.footer-cost-div{
	background-image: url("/assets/images/cost.png") no-repeat left top;
}
.whychooselinks{
	padding-top: 50px;
}
.whychooselinks:last-child{
	padding-bottom: 30px;
}
.mobile-list{
	text-align: right;
	display: none;
	padding-right: 20px;
	font-size: 10px;
	padding-top: 45px;
}
.mobile-list li{
    list-style-type: none;
    color: black;
    padding: 1px 0;
    font-size: 10px;
    font-family: 'Lato';
}
.mobile-search{
	padding-top: 0;
	float: right;
	padding-right: 20px;
}
.mobile-header-phone{
	padding-top: 0;
	font-size: 10px;
}

#footer{
    padding-top: 25px;
    background-color: white;
}

/*************************************************************************
Forms
*************************************************************************/
.greyback{
	background: #f2f2f2;
}
.form-control{
    border: none;
    border-bottom: 1px solid #c1c1c1;
    box-shadow: none;
    border-radius: 0;
    font-size: 26px;
    /*font-size: 16px;*/
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    height: auto;
    padding-bottom: 20px;
    padding-left: 0px;
}
.check-in-form .form-control{
    font-size: 16px;
}
.check-in-form .bootstrap-filestyle label{
    padding:13px;
}
.form-control-2{
    border: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    height: auto;
    padding-bottom: 20px;
    padding-left: 0px;
    float: none;
    width: 100%;
}
.welcome-message{
	text-align: center;
	padding-bottom: 80px;
    font-size: 16px;
    font-family: 'Lato';
}
.captcha{
	border: none;
    /* border-bottom: 1px solid black; */
    box-shadow: none;
    border-radius: 0;
    font-size: 26px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    height: auto;
    padding-bottom: 21px;
    padding-left: 0px;
    background: #f2f2f2;
}
.formbtn{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background: #0195ff;
    font-size: 22px;
    border: none;
	padding: 14px 20px;
    border:3px solid #0195ff;
    text-decoration: none;
    cursor: pointer;
}
.formbtn:hover {
    background-color: white;
    color:#0195ff;
    text-decoration: none;
    border:3px solid #0195ff;
}
.formintro{
	padding-top: 80px;
}

.formintro .strapline-header {
    font-size: 46px;
    padding-bottom: 20px;
}
.form-spacing{
	padding-bottom: 200px;
	padding-top: 50px;
}
.lostpassword{
	padding-top: 50px; 
	color: #ff6b08;
}
.lostpassword a{
	color: #ff6b08;
	font-size: 14px;
}
.notificationarea{
    margin-top: -120px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.internalbtn{
	width:260px;
}
.userbtn{
	margin-top: 20px;
}
.housename{
	background: #fff;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.housename p{
	margin: 0;
}
.formerror{
	background-color: #d94848;
	color: #fff;
	text-align: center;
}
.landing-box h1{
	text-align: center;
	margin-top: 50px;
	font-size: 50px;
}
.error input{
	border:1px solid #ebccd1;
}
.back-to-dash{
	font-size:24px;
	font-weight: 300;
	float:left;
    font-family: 'Lato', sans-serif;
    padding-left: 70px;
    padding-top: 20px;
}

.back-to-dash img{
	padding-bottom: 6px;
	display: inline;
}

.back-to-dash a{
	color:black;
	text-decoration: none;
}
.right-border{
	border-right:1px solid #c1c1c1;
}

.form-wrapper .form-group{
	padding: 0 90px 15px;
	margin-bottom: 0;
}

.form-group-2{
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 40px 15px;
    margin-bottom: 0;
}
.form-wrapper .form-group select, .form-wrapper .form-group-2 select{
	background-color: #0c7edd;
	color:white;
    padding: 14px 20px;
}
.form-group-2-label{
    width:70%;
    float:left;
    cursor:inherit;
}
.form-group-4-label{
    width:90%;
    float:left;
    cursor:inherit;
    font-size: 16px;
}
.form-group-2-select{
    width:30%;
}

form .form-group input[type="radio"]{
    float: left;
    width: 20px;
    margin-top: 8px;
    height: 20px;
    margin-right: 20px;
}
form .formbtn{
    display: block;
    margin-left: 43%;
    padding: 14px 41px;
}

form .center-button{
    margin: 0 auto;
}

.form-text{
    font-family: 'Lato';
    font-size: 16px;
}
.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 2px solid #d6e9c6;
    padding: 20px;
    margin: 20px;
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
}
.alert-success li{
    list-style: none;
}
.alert-failure {
    background-color: #d94848;
    color: white;
    border: 2px solid #a94442;
    padding: 20px;
    margin: 20px;
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
}
.alert-failure li{
    list-style: none;
}

.alert-dismissable .close{
    top:-20px;
    opacity: 0.7;
}
.alert-info {
    padding: 20px;
    margin: 20px;
    font-family: 'Lato';
    font-size: 16px;
    text-align: center;
}

.has-error .form-control {
    box-shadow: 0px 0px 10px 0px rgba(169,68,66,1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(169,68,66,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(169,68,66,1);
    border: none;
}

.form-wrapper textarea{
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px 0;
    border: none;
    resize: none;
}

.create-property .formbtn{
    display:inline;
    margin-left: 0;
}

.create-property .border-bottom{
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 40px;
    margin: 0 auto;
    width: 83%;
    clear: both;
}

.create-property .remove-room{
    margin-top: 16px;
}

.add-items{
    margin-left: 60px;
}

.clear{
    clear: both;
}

.additional-items{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: normal;
    margin: 12px 0;
}

.additional-items input{
    background-color: #f2f2f2;
    border: none;
}

.additional-items label{
    margin-top: 20px;
}

table{
    font-family: 'Lato';
    font-size: 16px;
    font-weight: normal;
}

table td{
    padding:12px !important;
}

table tr:nth-child(1){
    background-color: #ededed;
}
table tr:nth-child(2){
    background-color: white;
}
table tr:nth-child(3){
    background-color: #cceaff;
}

.calendar-image{
    float: right;
    margin-top: -50px;
}
.check-in{
    font-weight: normal;
    font-family: 'Lato';
    font-size: 16px;
    padding-bottom: 0px;
    margin-bottom: 70px;
}
.check-in-2{
    font-weight: normal;
    font-family: 'Lato';
    font-size: 16px;
    padding-bottom: 70px;
    margin-bottom: 70px;
}

.check-in .label-check-in{
    font-weight: 300;
}

.answer-check-in{

}

.check-in-status{
    background-color: #cceaff;
    padding: 40px;
    margin: 30px 15px 0
}
.check-in-download{
    float: right;
    margin-top: -45px;
}
.check-in-h1{
    font-family: 'Lato';
    font-size: 36px;
    font-weight: 300;
}

.check-in-h3{
    font-family: 'Lato';
    font-size: 26px;
    font-weight: 300;
    margin-top: 40px;
}
.row-space{
    margin: 20px 0 0 0;
}
.item-background{
    background-color: #eaf4fb;
    margin: 0 60px;
    padding: 20px 0;
}
.file-background{
    background-color: #eaf4fb;
}
.form-group-3-label{
    width:100%;
    background-color: transparent;
}
.btn-primary{
    background-color: #0c7edd;
}
.bootstrap-filestyle label{
    font-family: 'Lato';
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
}
.bootstrap-filestyle .form-control{
    background-color: transparent;
}

.float-left{
    float: left;
}

.float-right{
    float:right;
}

.width-35{
    width:35%;
}

.width-30{
    width: 30%;
}

.card_icons ul{
    list-style: none;
}

.card_icons li{
    float:left;
}
#template-add-room{
    display: block;
    margin: 12px auto;
    width:25%;
}
.block{
    display: block !important;
}
.status-0{
    color:green;
    font-size: 16px;
}
.status-1{
    color:orange;
    font-size: 16px;
}
.status-2{
    color:red;
    font-size: 16px;
}
.report-status-0{
    color:red;
    font-size: 16px;
}
.report-status-1{
    color:orange;
    font-size: 16px;
}
.report-status-2{
    color:green;
    font-size: 16px;
}

h1, h2, h3{
    font-family: 'Lato';
}

#container{
    background-color: #f2f2f2;
}

.dropdown-toggle{
    background-color: #0c7edd;
    color: white;
    padding: 14px 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 26px;
}

.dropdown-menu .text{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
/************************************************************************
Pages
************************************************************************/
body{

    background-color: #f2f2f2;
}
.centre{
    text-align: center;
}
.red{
    color:#ff3c00!important;
    text-decoration: underline !important;
}
.grey-background{
    background-color: #f4f5f9;
}
.home-text{
    margin-top: 30px;
}

.dashboard{
    margin-top: 80px;
}

.dashboard h1{
    font-weight: 300;
    font-size: 46px;
    color:black;
    font-family: 'Lato';
    margin:0;
}
.dashboard-name{
    padding-left: 8%;
}
.dashboard-type{
    padding-left: 9%;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: normal;
    margin-top: -25px;
}

.dashboard-user-info{
    border:1px solid #edeeee;
    padding:55px 5%;
    background-color: white;
}

.dashboard-user-info img{
    width:250px;
    margin-bottom: 30px;
}

.dashboard-membership{
    margin-top: 40px;
}

.dashboard-membership a{
    color:#0195ff;
    font-weight:normal;
    font-family: 'Lato';
    font-size: 16px;
    text-decoration: none;
}

.dashboard-membership p{
    color:#0195ff;
    font-weight:normal;
    font-family: 'Lato';
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
}

.dashboard-notifications{
    list-style: none;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: normal;
}
.dashboard-notifications li{
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 0;
    margin: 0;
    clear: both;
}

.dashboard-notifications img{
    width:auto;
    margin: 0;
    margin-bottom: 4px;
}
.dashboard-notifications p{
    width:70%;
    display: inline-block;
}

.dashboard-notifications a{
    float: right;
    margin: 0 20px;
}

.dashboard-notifications .view{
    color:#a8d608;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
.dashboard-notifications .view:hover{
    text-decoration: none;
}
.dashboard-notifications .view img{
    margin-left:4px;
}

.dashboard-notifications .delete{
    color:red;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: normal;
}
.dashboard-notifications .delete:hover{
    text-decoration: none;
}
.dashboard-notifications .delete img{
    margin-left:12px;
}

.dashboard-options{
    margin-top: 47px;
    margin-bottom: 130px;
}

.dashboard-options .option{
    background-color: #97cef4;
    padding: 0;
    margin-right: 20px;
}

.dashboard-options .option img {
    margin: 16px auto;
}

.dashboard-options .option p{
    font-weight: normal;
    font-size: 18px;
    font-family: 'Lato';
    color: white;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 12px;
}
.dashboard-options .option a:hover{
    text-decoration: none;
}
.current-properties{
    margin-top: 0px;
}
.current-properties h1{
    font-family: 'Lato';
    font-size: 36px;
    color:black;
    font-weight: 300;
    text-align: center;
}

.current-properties h3{
    font-family: 'Lato';
    font-size: 16px;
    color:black;
    font-weight: normal;
    text-align: center;
    margin-top: 36px;
    margin-top: 36px;
    padding: 0 165px;
}
.property-row{
    padding:45px 90px;
}
.property-row:nth-child(3n+1){
    background-color: #ededed;
}
.property-row:nth-child(3n+2){
    background-color: white;
}
.property-row:nth-child(3n+3){
    background-color: #cceaff;
}
.property-image{
   float:left;
}

.property-row p{
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 300;
    color:#282424;
    margin-left: 30px;
    display: inline-block;
    width: 80%;
    margin-bottom: 8px;
}

.property-row p img{
    display: inline-block;
}

.property-row a{
    font-family: 'Lato';
    font-size: 18px;
    font-weight: normal;
    color:#0490f4;
    text-decoration: none;
}

.dashboard-properties{
    margin-bottom: 130px;
}

.border-none{
    border: none;
}

.dashboard-tooltip{
    font-size: 32px;
}

.tooltip{
    font-family: 'Lato';
    font-size: 16px;
    padding:12px;
}


/*************************************************************************
Signature pad
*************************************************************************/
.m-signature-pad {
  position: absolute;
  font-size: 10px;
  width: 700px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -200px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
  border-radius: 4px;
}

.m-signature-pad:before, .m-signature-pad:after {
/*	position: absolute;
  z-index: -1;
  content: "";
	width: 40%;
	height: 10px;
	left: 20px;
	bottom: 10px;
	background: transparent;
	-webkit-transform: skew(-3deg) rotate(-3deg);
	-moz-transform: skew(-3deg) rotate(-3deg);
	-ms-transform: skew(-3deg) rotate(-3deg);
	-o-transform: skew(-3deg) rotate(-3deg);
	transform: skew(-3deg) rotate(-3deg);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);*/
}

.m-signature-pad:after {
	left: auto;
	right: 20px;
	-webkit-transform: skew(3deg) rotate(3deg);
	-moz-transform: skew(3deg) rotate(3deg);
	-ms-transform: skew(3deg) rotate(3deg);
	-o-transform: skew(3deg) rotate(3deg);
	transform: skew(3deg) rotate(3deg);
}

.m-signature-pad--body {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 60px;
  border: 1px solid #f4f4f4;
}

.m-signature-pad--body
  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  }

.m-signature-pad--footer {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 40px;
}

.m-signature-pad--footer
  .description {
    color: #C3C3C3;
    text-align: center;
    font-size: 1.2em;
    margin-top: 1.8em;
  }

.m-signature-pad--footer
  .button {
    position: absolute;
    bottom: 0;
  }

.m-signature-pad--footer
  .button.clear {
    left: 0;
  }

.m-signature-pad--footer
  .button.save {
    right: 0;
  }

@media screen and (max-width: 1024px) {
  .m-signature-pad {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    min-width: 250px;
    min-height: 140px;
    margin: 5%;
  }
  #github {
    display: none;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .m-signature-pad {
    margin: 10%;
  }
}

@media screen and (max-height: 320px) {
  .m-signature-pad--body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 32px;
  }
  .m-signature-pad--footer {
    left: 20px;
    right: 20px;
    bottom: 4px;
    height: 28px;
  }
  .m-signature-pad--footer
    .description {
      font-size: 1em;
      margin-top: 1em;
    }
}

#page-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
}

/*************************************************************************
Screen Size 786px 
*************************************************************************/

@media screen and (min-width: 786px) {

	.mobile-header-phone{
		display: block;
	}
	.mobile-search{

		display: none;
	}
	.tenantsimg{
		display: block;
	}
	.landlordsimg{
		display: block;
	}
	.logo-text{
		display: block;
	}
	.tenant-box{
		opacity: 0.8;
	    margin-top: 25%;
        margin-bottom: 25%;
	}
	.lord-box{
		opacity: 0.8;

	    margin-top: 25%;
        margin-bottom: 25%;
	}
	.strapline-header{
		font-size: 36px;
	}
	.strapline-text{
		font-size: 16px;
	}
	.whychooselinks {
    padding-top: 0px;
	}
	.logo{
	padding-left: 0;
	}
	.landing-box{
		margin-top: -25%;
	}
    .footer-icon-header{
        font-size: 20px;
    }
    .mobile-list{
        display: none;
    }
    .header-phone{
        display: block;
    }
    .slide-out-menu{
        position: absolute;
        left: -350%;
    }
    .slide-out-menu img{
        position: relative;
        width: 30px;
        right: 0;
        margin-top: 290%;
    }
    .logo img{
        width: 80%;
    }
}

/*************************************************************************
Screen Size 992px
*************************************************************************/
/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 1220px) {

	.header-nav{
		display: block;
	}
	#search-large{
        display: block;
	}
	.mobile-list{
	display: none;
	}
	.mobile-search{
		display: none;
	}
	.logo-text{
        margin-top: 0px;
        font-size: 18px;
        margin-bottom: 20px;
	}
	.logo img{
	    /*padding-left: 70px;*/
	}
	.header{
		height: 270px;
	}
        .slide-out-menu{
        display: none;
    }
    .logo img{
        width: 120%;
    }

}

/*************************************************************************
Screen Size 1220px
*************************************************************************/
@media screen and (max-width: 1220px) {
    .phonenumber {
        margin-right: 10px;
    }
    .mobile-list{
        display: none;
        padding-top: 76px;
    }
    .mobile-list ul{
        margin: 0;
    }
    .dashboard-notifications a{
        margin:0 4px;
    }
    .property-row{
        padding:45px 45px;
    }
    .property-row p {
        width:70%;
    }
    .form-wrapper .form-group {
        padding: 0 60px 15px;
    }
    .form-group-4-label {
        width:80%;
    }
    .dashboard-options .option p {
        padding: 0;
    }
    .back-to-dash-header{
        display: none;
    }
}

/*************************************************************************
Screen Size 992px
*************************************************************************/
@media screen and (max-width: 992px) {
    .notification-h1{
        display: none;
    }
    .dashboard-notifications a{
        margin:0 20px;
    }
    .property-row{
        padding:45px 45px;
    }
    .property-row p {
        width:70%;
    }
    .dashboard-options .option{
        padding: 20px;
        margin: 20px 0;
    }
    .mobile-search{
        display: none;
    }
}


/*************************************************************************
Screen Size 786px
*************************************************************************/
@media screen and (max-width: 786px) {
    .mobile-list{
        display: none;
    }
    .phonenumber {
        margin-right: 60px;
    }
    .dashboard-notifications a{
        margin:0 4px;
    }
    .dashboard-notifications {
        font-size: 12px;
    }
    .property-row p {
        margin-left: 0;
    }
    form .formbtn{
        /*display: block;*/
        /*margin-left: 43%;*/
        padding: 14px 20px;
    }
    .back-to-dash-header{
        display: none;
    }
    .lord-container, .tenant-container{
        background: none;
    }

}

/*************************************************************************
Screen Size Below 490px
*************************************************************************/
@media screen and (max-width: 490px) {
    .contactdetails p{
        width:inherit;
    }

    .footer-icons {
        padding-bottom: 54px;
    }
    .phonenumber {
        margin-right: 0px;
    }
    .dashboard-notifications .view, .dashboard-notifications .delete{
        font-size: 10px;
    }
    .dashboard-notifications img{
        width:12px;
    }
    .dashboard-notifications p{
        margin-bottom: 0px;
    }
    #template-add-room{
        padding: 0;
        font-size: 16px;
    }
    .back-to-dash {
        padding-left: 0;
        font-size: 16px;
    }
    form .formbtn {
        margin: 20px;
        display: inline-block;
        font-size:18px;
    }
    .create-property .formbtn {
        display: inline-block;
    }
    .form-control{
        font-size: 18px;
    }
    .bootstrap-filestyle label{
        padding:14px;
    }
    .form-wrapper .form-group select, .form-wrapper .form-group-2 select{
        padding:14px 20px;
    }
    .item-background{
        margin: 0;
    }
    .checkbox-inline{
        padding: 0 60px 15px !important;
    }
    .checkbox-inline label{
        font-size: 20px;
    }
}


/*************************************************************************
IE 9 and up
*************************************************************************/
@media screen and (min-width:0\0){
    /*.ie9up{*/
        /*property:value;*/
    /*}*/
    .bootstrap-filestyle label {
        padding:16px;
    }
    .form-group-2-label{
/*        padding-bottom: 14px;
*/    }
    .form-group-2-label{
        padding-bottom: 19px;
    }

    .check-in-form .bootstrap-filestyle label{
        padding:11px 13px;
    }
}